# Byte-compiled / optimized / DLL files
__pycache__/
*.txt
config.py
sample_config.py
posterNF.py
a.py
tv/
movie/
*.jpg
bot/a.js
c.py
bot/helpers/telegram_helper/button_build.py
log_2024-05-20.txt.2024-05-20
bot/helpers/telegram_helper/telegraph_helper.py
bot/modules/manager_files.py
