# Byte-compiled / optimized / DLL files
__pycache__/
config.py
sample_config.py
posterNF.py
a.py
tv/
movie/
bot/a.js
c.py
bot/helpers/telegram_helper/telegraph_helper.py
bot/modules/manager_files.py
*.jpg
*.json
*.env
*.log
log**.txt
conversationbot